@{
    ViewBag.Title = "DutchTreat";
}
    <div class="productInfo">
        <div>
            <img src="~/img/SK-A-1595.jpg" />
        </div>
        <div>
            <h3>Mug</h3>
            <ul class="productProp">
                <li>Pric:99$</li>
                <li>Artist:Van </li>
                <li>Tittle:</li>
                <li>Description:Self-Protrait</li>
            </ul>
        </div>

        <div> <button>Buy</button></div>
    </div>
    <div class="theForm">
        <div id="loginToggle">Login</div>
        <div>
            <form class="popupForm">
                <div>
                    <label> UserName</label>
                    <input />
                </div>
                <div>
                    <label> Password</label>
                    <input type="password" />
                </div>
                <div>
                    <input type="checkbox" />
                    <label> Remember me?</label>
                </div>
                <div>
                    <input type="submit" value="Login" />
                </div>


            </form>
        </div>
    </div>
 